{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    About Beatrice Shop
{% endblock %}
{% block content %}
    <div class="small-container">
        <div class="body-contents">
            <div class="mogibe-logo">
                <img src="{% static 'img/open-shop.jpg' %}">
            </div>
            <div class="description">
                <h1>Hello, Here is What You May need to Know about Beatrice Shop!!!!</h1>
            </div>
        </div>
        <div class="mgbhstry">
            <p>Beatrice Shop is a project by Beatrice Kamau a students at the univeristy of embu, the project is a class assignment to be submited to his lectuer(Dkt Consolata Gakii) a lecturer in the same University. <br> profile for the designer(Gideon Kirui Ochieng) is shown bellow</p>
        </div>
        <div class="designers">
            <h1 id="triop">The Designer</h1>
            <div class="row">
               <div class="col-3">
                 <img src="{% static 'img/open-shop.jpg' %}">
                 <h3>Beatrice Kamau</h3>
                 <hr>
                 <div class="desingner-profile">
                      <p>University of Embu</p>
                      <p>Bsc. BBIT</p>
                      <p>6-600 Embu Kenya</p>
                      <div class="social-media">
                          <p>Twitter:@beatrice</p>
                          <p>Facebook: be</p>
                          <p>Instagram: Beatrice_b</p>
                          <p>call: 0712345678</p>
                   </div>
                 </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}